{
  "root": true,
  "plugins": ["react-redux"],

  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },

  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-redux/recommended",
    "plugin:import/recommended"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "no-case-declarations": "off",
    "react-redux/useSelector-prefer-selectors": "off",
    "react/prop-types": "off",
    "react/no-unescaped-entities": "warn",
    "import/no-unresolved": "warn",
    "no-unused-vars": "error",
    "no-console": "error"
  },
  "parser": "@babel/eslint-parser",

  "parserOptions": { "ecmaFeatures": { "jsx": true }, "ecmaVersion": 2015 }
}
