{
  "root": true,
  "plugins": ["react-redux"],
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-redux/recommended",
    "plugin:import/recommended"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "no-console": "warn",
    "no-unused-vars": "warn",
    "no-case-declarations": "off",
    "react-redux/useSelector-prefer-selectors": "off",
    "react/prop-types": "off",
    "import/no-unresolved": "warn",
    "react/no-unescaped-entities": "warn"
  },
  "parser": "@babel/eslint-parser",

  "parserOptions": { "ecmaFeatures": { "jsx": true }, "ecmaVersion": 2015 }
}
